NEXT_PUBLIC_APP_URL=http://localhost:3005
NEXT_PUBLIC_SUPABASE_URL=https://dkfjlnijwaupspaswszu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrZmpsbmlqd2F1cHNwYXN3c3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5Mzc0MDksImV4cCI6MjA5MTUxMzQwOX0.Z2-kxdrtHRZZ1_4QYaEZuiNe2IUecaNdI2sujwZWH6k
SUPABASE_ALLOWED_EMAILS=saidhanunjaya19@gmail.com,bhargavasuthi@gmail.com
NEXT_PUBLIC_SPLASH_DURATION_MS=45000
NEXT_PUBLIC_SPLASH_PERSON_ONE_NAME=Dhanunjaya
NEXT_PUBLIC_SPLASH_PERSON_TWO_NAME=Bhargavi
NEXT_PUBLIC_SPLASH_PERSON_ONE_IMAGE=/intro/dhanunjaya.jpg
NEXT_PUBLIC_SPLASH_PERSON_TWO_IMAGE=/intro/bhargavi.jpeg
NEXT_PUBLIC_SPLASH_QUOTE_LINE_ONE=Not every bond is written by blood; some are written by the heart.
NEXT_PUBLIC_SPLASH_QUOTE_LINE_TWO=For all the words I could not say aloud, I saved them here for you.
NEXT_PUBLIC_SPLASH_QUOTE_LINE_THREE=When life took away a love I thought I’d never feel again, you returned it in a different form
